<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<form action="Sample">
Enter Num1:<input type="number" name="n1">
   <br>
Enter Num2:<input type="number" name="n2">
<br>
Select Type Of Operation:<input type="radio" name="t1" value="addition">ADDITION
                    <input type="radio" name="t1" value="subtraction">SUBTRACTION
              <input type="radio" name="t1" value="multiplication">MULTIPLICATION
              <input type="radio" name="t1" value="division">DIVISION
         <br>
 <input type="submit" value="Calculate">   
</form>

</body>
</html>